.likebuttonsection {
  display: flex;
  justify-content: center;
}

.likebutton {
  background-color: rgb(113, 209, 113);
  color: green;
  font-size: xx-large;
  border: none;
  border-radius: 10px;
}

.form-container {
  width: 300px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  gap: 10px;
}

input {
  background-color: lightgrey;
  height: 40px;
  width: 100%;
  border: none;
  font-size: large;
}

button {
  background: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: large;
}

/* ALERTS */
.success-message {
  background-color: #3f89f8;
  font-family: "Roboto", sans-serif;
  color: aliceblue;
  padding: 15px;
}

.alert-message {
  font-size: small;
  color: red;
  text-align: left;
}

.lines {
  width: 300px;
  border-style: groove;
  border: 1px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: auto;
}
